<!-- "showAddFile"-->
<ng-template #addImgTemplate>
  <div class="container-fluid mypopup " >
    <div class="upload-header">
      <span class="imginput" >
        <input type='file' (change)="readUrl($event)">
      </span>
      <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
        <span aria-hidden="true" class="glyphicon glyphicon-remove-sign"></span>
      </button>
    </div> 
    <div *ngIf="this.url && this.url.length > 5" class="myimg">
        <img id="img1" [src]="this.url" alt="your image" 
        class="displayImage" >
        <p><button  type="button" class="addbut"
          (click)="this.addImageToGallery()">Add</button></p>
    </div>  
  </div>
</ng-template>
  <!--  {{this.ls.getImgData()}}  *ngIf="this.url && this.url.length > 5"  *ngIf="this.url.length > 5" -->