/* You can add global styles to this file, and also import other style files */

body, p, span, button, a, {
    font-size: 14px!important;
    font-family: Arial;
}

.btn {
    font-size: 14px!important;
}
@media (min-width: 576px){
    .modal-dialog {
        max-width: 90vw!important;
        margin: 5vw 5vw!important;
    }
}

.glyphicon-remove-sign {
    font-size: 48px!important;
    cursor: pointer;
    color: red;
}